header {
  height: 520px;
  display: flex;
  align-items: end;
  text-align: center;
  color: #ffffff;
  justify-content: center;
  background-color: #cc8800;
  background-image: url('https://www.transparenttextures.com/patterns/beige-paper.png');
}

header .avatar span {
  font-weight: lighter;
}